<mat-progress-bar class="progress-bar-custom" mode="query" *ngIf="loadingController.loadingFlag() > 0"></mat-progress-bar>
<mat-toolbar>
  <button mat-icon-button (click)="matDrawer.toggle()" class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="d-flex flex-grow-1 justify-content-center">
    Template app ({{envName}})
  </div>
  <div class="d-flex justify-content-end">
    <button mat-icon-button aria-label="Icone account" class="profile-button" [matMenuTriggerFor]="menuProfile">
      <mat-icon *ngIf="loginService.loggedInUser() == null">account_circle</mat-icon>
      <img  *ngIf="loginService.loggedInUser() != null" [src]="loginService.loggedInUser()?.foto"   
                                                             alt="Perfil">
    </button>
  </div>
</mat-toolbar>
<div class="d-flex secondy-row-color">
  <button mat-icon-button class="ms-3" *ngIf="topbarService.backRoute()" (click)="topbarService.backButtonNavigate()" aria-label="Botão para retornar para a tela anterior">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-chip-set class="ms-4" aria-label="Fish selection">
    @for (breadcrumb of topbarService.breadcrumbs(); track $index) {
      <mat-chip (click)="topbarService.redirecionarRota(breadcrumb.route)" [highlighted]="$index == (topbarService.breadcrumbs().length - 1)">{{breadcrumb.label}}</mat-chip>
    }
  </mat-chip-set>
</div>

<mat-menu #menuProfile="matMenu">
  <button class="button-profile" mat-menu-item (click)="loginService.logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>