<div class="file-upload-container">
  @if (fileUploaded) {
  <button mat-button type="button" color="primary" (click)="downloadFile()">
    <mat-icon>attach_file</mat-icon>
    {{fileUploaded.name}}
  </button>
  <button mat-icon-button type="button" color="primary" (click)="deleteFile()">
    <mat-icon>delete</mat-icon>
  </button>
  }
  @else {
  <button mat-raised-button type="button" color="primary" (click)="uploadFile()">
    <mat-icon>upload_file</mat-icon>
    Selecionar Arquivo
  </button>
  }

  <input #fileInput type="file" hidden (change)="onFileSelected($event)" [accept]="mimeTypeAccepted">

  @if (loading) {
  <mat-spinner class="custom-spinner"></mat-spinner>
  }
</div>