<mat-card appearance="outlined">
  <mat-card-content>
    @if (form) {
      <form [formGroup]="form" (ngSubmit)="salvar()">
        <div class="container mx-auto text-center">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" formControlName="nome">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Valor</mat-label>
              <input matInput type="number" placeholder="0" formControlName="valor" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Data Inclusão</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dataInclusao">
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Situação</mat-label>
              <mat-select formControlName="situacao">
                @for (situacao of situacoes; track situacao) {
                  <mat-option [value]="situacao.value">
                    @if (situacao.value == 0) {
                      <mat-icon class="text-green-700">check_circle</mat-icon>
                    } @else if (situacao.value == 1) {
                      <mat-icon class="text-red-800">cancel</mat-icon>
                    } @else if (situacao.value == 2) {
                      <mat-icon class="text-yellow-600">help</mat-icon>
                    }
                    {{situacao.label}}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>

            @if (this.produto) {
              <single-file-upload 
                [fileUploaded]="arquivoDoProduto"
                mimeTypeAccepted="application/pdf,image/jpeg,image/png"
                [uploadFunction]="uploadArquivo.bind(this)"
                [deleteFunction]="deleteArquivo.bind(this)">
              </single-file-upload>
            }
          </div>
          <div class="grid grid-cols-1 mt-4">
            <mat-form-field appearance="outline">
              <mat-label>Descrição</mat-label>
              <textarea matInput placeholder="Digite a descrição" formControlName="descricao"></textarea>
            </mat-form-field>
          </div>
        </div>
      
        <div class="flex justify-end">
          <button mat-raised-button type="submit" class="px-3" [disabled]="!form.valid">
            <mat-icon>add</mat-icon>
            Salvar
          </button>
        </div>
      </form>
    }
  </mat-card-content>
</mat-card>
