<mat-accordion>
	<!-- First menu item -->
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Menu 1
			</mat-panel-title>
		</mat-expansion-panel-header>

		<mat-list>			
			<mat-list-item>
				<!-- FROM: https://fonts.google.com/icons -->
				<mat-icon matListItemIcon>home</mat-icon>
				<div matListItemTitle>Item 1</div>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item>
				<mat-icon matListItemIcon>face</mat-icon>
				<div matListItemTitle>Item 2</div>
			</mat-list-item>
		</mat-list>

	</mat-expansion-panel>

	<!-- Second menu item -->
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Menu 2
			</mat-panel-title>
		</mat-expansion-panel-header>

		<mat-list>			
			<mat-list-item>
				<!-- FROM: https://fonts.google.com/icons -->
				<mat-icon matListItemIcon>home</mat-icon>
				<div matListItemTitle>Item 1</div>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item>
				<mat-icon matListItemIcon>face</mat-icon>
				<div matListItemTitle>Item 2</div>
			</mat-list-item>
		</mat-list>

	</mat-expansion-panel>
</mat-accordion>