<div class="d-flex justify-content-end mb-2">
  <button mat-raised-button class="px-3 d-none d-sm-flex" (click)="cadastrar()">
    <mat-icon>add</mat-icon>
    Cadastrar
  </button>
</div>

<button class="fab_cadastrar_mb d-flex d-sm-none" mat-fab (click)="cadastrar()"
  aria-label="Example icon button with a delete icon">
  <mat-icon>add</mat-icon>
</button>

<div class="d-flex container-tabela">
  <table class="mat-elevation-z8" mat-table [dataSource]="produtos">

    <ng-container matColumnDef="nome" sticky>
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
    </ng-container>

    <ng-container matColumnDef="dataInclusao">
      <th mat-header-cell *matHeaderCellDef> Data Inclusão </th>
      <td mat-cell *matCellDef="let element"> {{element.dataInclusao | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes" stickyEnd>
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editar(element)">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="deletar(element)">
            <mat-icon>delete</mat-icon>
            <span>Excluir</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="d-flex mat-elevation-z3">
  <mat-paginator class="w-100" #paginator (page)="alterarPagina($event)" [length]="itemsCount" [pageSize]="pageSize"
    [showFirstLastButtons]="true" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" aria-label="Select page">
  </mat-paginator>
</div>