<mat-accordion>
	<!-- First menu item -->
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Menu 1
			</mat-panel-title>
		</mat-expansion-panel-header>

		<mat-list>			
			<button mat-button matListItem (click)="redirecionar('produto/listagem')">
				<!-- FROM: https://fonts.google.com/icons -->
				<mat-icon matListItemIcon>category</mat-icon>
				<div matListItemTitle>Produtos</div>
			</button>
			<mat-divider></mat-divider>
			<button mat-button matListItem>
				<mat-icon matListItemIcon>query_stats</mat-icon>
				<div matListItemTitle>Item 2</div>
			</button>
		</mat-list>

	</mat-expansion-panel>

	<!-- Second menu item -->
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Menu 2
			</mat-panel-title>
		</mat-expansion-panel-header>

		<mat-list>			
			<button mat-button matListItem>
				<!-- FROM: https://fonts.google.com/icons -->
				<mat-icon matListItemIcon>home</mat-icon>
				<div matListItemTitle>Item 1</div>
			</button>
			<mat-divider></mat-divider>
			<button mat-button matListItem>
				<mat-icon matListItemIcon>face</mat-icon>
				<div matListItemTitle>Item 2</div>
			</button>
		</mat-list>

	</mat-expansion-panel>
</mat-accordion>