<app-topbar [matDrawer]="drawer"></app-topbar>

<mat-drawer-container>
  <mat-drawer #drawer mode="over" class="menu-width">
    <app-menu [drawer]="drawer"></app-menu>
  </mat-drawer>

  <div class="main-content padding-main-content">
    <router-outlet />
  </div>
</mat-drawer-container>

<footer>
  <div class="flex justify-between items-center p-1 bg-azure-900">
    <div class="flex items-center"><mat-icon>public</mat-icon> GNU GENERAL PUBLIC LICENSE</div>
    <div>{{latestVersion}}</div>
  </div>
</footer>