mat-paginator {
  border-top-color: var(--mat-table-row-item-outline-color, var(--mat-app-outline, rgba(0, 0, 0, 0.12)));
  border-top-width: var(--mat-table-row-item-outline-width, 1px);
  border-top-style: solid;
}
