/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
      ),
      typography: (
        brand-family: 'Comic Sans',
        bold-weight: 900
      ),
      density: (scale: -1)));

@mixin theme($my-theme) {
  mat-toolbar {
    background: mat.get-theme-color($my-theme, primary-container) !important;
  }

  .dialog-title {
    border-bottom: mat.get-theme-color($my-theme, primary-container) solid 2px;
  }

  .secondy-row-color {
    min-height: 40px !important;
    width: 100% !important;
    background-color: mat.get-theme-color($my-theme, primary, 95) !important;
  }  
}

html,
body {
  @include mat.all-component-themes($my-theme);
  @include theme($my-theme);
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  --mdc-snackbar-container-color: none; /* Resets to default */
  --mdc-snackbar-supporting-text-color: none;
  --mat-form-field-container-vertical-padding: 10px;
  --mat-form-field-container-height: 44px;
}

.date-picker-custom {
  max-width: 213px;
}

@import "bootstrap/scss/bootstrap";
@import "../src/app/infra/styles/mat-paginador-custom";
@import "../src/app/infra/styles/snack-bar-custom";