<mat-card appearance="outlined">
  <mat-card-content>
    @if (form) {
      <form [formGroup]="form" (ngSubmit)="salvar()">
        <div class="container mx-auto text-center">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Nome completo</mat-label>
                <input matInput placeholder="Nome completo" formControlName="nome">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Descrição</mat-label>
                <input matInput placeholder="Digite a descrição" formControlName="descricao">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Valor</mat-label>
                <input matInput type="number" placeholder="0" formControlName="valor" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="date-picker-custom" appearance="outline">
                <mat-label>Data Inclusão</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dataInclusao">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      
        <div class="flex justify-end">
          <button mat-raised-button type="submit" class="px-3" [disabled]="!form.valid">
            <mat-icon>add</mat-icon>
            Salvar
          </button>
        </div>
      </form>
    }
  </mat-card-content>
</mat-card>
