<form [formGroup]="form">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Nome completo</mat-label>
          <input matInput placeholder="Nome completo" formControlName="nome">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input matInput placeholder="Digite a descrição" formControlName="descricao">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <input matInput type="number" placeholder="0" formControlName="valor" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="date-picker-custom" appearance="outline">
          <mat-label>Data Inclusão</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dataInclusao">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>